STANDARD_SPECIFICATION_CONFIG_FILE=标准规范列表.xlsx

COMPLETION_API_KEY=
COMPLETION_API_BASE=
COMPLETION_MODEL=qwen3
COMPLETION_MAX_TOKEN=4096
COMPLETION_ENABLE_THINKING=False
COMPLETION_TEMPERATURE=0.1
DOCUMENT_BASE_DIR=

NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=

KNOWLEDGE_HOST=
KNOWLEDGE_BASE_URI=
KNOWLEDGE_API_KEY=
KNOWLEDGE_DATASET=
KNOWLEDGE_WORKFLOW_API_KEY=
KNOWLEDGE_USER_ID=
KNOWLEDGE_MIN_TOKEN_COUNT=50
KNOWLEDGE_TOKEN_COUNT=600
KNOWLEDGE_MAX_TOKEN_COUNT=800
